<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <h1>The 404 error came in page it self </h1>
        {{>header}}
        {{>footer}}
        {{>error}}
        {{title}} <br>
        {{name}} <br>
        {{errormessage}}
    </body>
</html>