<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <script src="./js/helo.js"></script>
    </head>
    <body>
        <h1>This is Intro of Amazon Page</h1>
            {{>amazon}}
        <img class="portrait" src="./images/amazon.jpg" alt="Image is Not Found">
    </body>
</html>