<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <script src="./js/helo.js">

        </script>
    </head>
    <body>
        <h1>This is the Weather Application Introduction</h1>
        {{location.current}}
        {{>weather}}
    </body>
</html>
