<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="./images/weather.png">
    <link rel="stylesheet" href='./css/styles.css'>
</head>
<body>
    <div class="main_content">
      {{>header}}
      <p>Use this site to get your Weather</p>
      <form>
        <input type="text", placeholder="Enter the Location">
        <button>Search</button>
        <p id="message-1"></p>
        <p id="message-2"></p>
        <img id="iconic" src="" alt="icon alt">
      </form>
      <div>
        <h1 class="hello">
          Hello
        </h1>
        <h1 id="word">
          word
        </h1>
      </div>
      {{>footer}}
      </div>
          <script src="./js/helo.js"></script>

</body>
</html>