<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/amazon.css">
    </head>
    <body>
        <div class="ama">
            <a href="https://www.amazon.in/events/greatfreedomsale?tag=googmantxtdsk31-21&ascsubtag=_k_CjwKCAjww7KmBhAyEiwA5-PUSgzltbDU8JYHsl2i4qQV3SofsIODKbGH5y5nkEcN5Gi1P9C9urniuRoCEeMQAvD_BwE_k_&gclid=CjwKCAjww7KmBhAyEiwA5-PUSgzltbDU8JYHsl2i4qQV3SofsIODKbGH5y5nkEcN5Gi1P9C9urniuRoCEeMQAvD_BwE" target="blank">Amazon</a>
        </div>
    </body>
</html>