<header>
    <h1>{{title}}</h1>
    <a href="/index">Index</a>
    <a href="/weather">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    {{!-- <a href="/amazon">Amazon</a> --}}
</header>
    