<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <a href="https://api.weatherapi.com/v1/current.json?key=b03731ce4f874c72b7494242231707&query={{location}}">Weather Data</a>
    </body>
</html>